:root {
    --principal: #5966ff;
    --secondary: #5735a5;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-styles {
    box-shadow: 0 8px 20px #00000017;
    padding: 50px 60px;
}

.form-title {
    color: var(--principal) !important;
    margin-bottom: 20px;
    text-align: center;
}

.title-principal {
    color: var(--principal) !important;
    margin-bottom: 20px;
}

.link {
    margin-left: 20px;
}

.btn-primary {
    border-radius: 0;
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-primary:hover {
    background: #8772b7;
    border-color: #8772b7;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group label {
    color: #737373;
}

.form-control {
    border-radius: 0;
}

.navbar-brand {
    color: var(--principal) !important;
}

.navbar-brand span {
    color: var(--secondary) !important;
}

.posts {
    display: flex;
    flex-direction: column;
    animation: topAnimation .5s;
}

.post {
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    animation: topAnimation 1s;
}

.post .delete {
    position: absolute;
    font-weight: bold;
    right: 5px;
    top: 0;
    color: #00000087;
    font-size: 20px;
    cursor: pointer;
}

@keyframes topAnimation {
    from {
        opacity: 0%;
        transform: translateY(-20px);
    }
}

.post .delete:hover {
    color: red;
}

.post-title {
    text-transform: capitalize;
    font-family: Montserrat;
}

.post-content {
    font-family: "Open Sans";
}

.post-image {
    object-fit: cover;
    width: 100%;
}

h3 {
    color: #6b6b6b;
    font-weight: normal;
}

.modal-content {
    border-radius: 0;
    border: 0;
}

.end-results {
    padding-bottom: 30px;
    border-bottom: 1px solid #0000004d;
    margin-bottom: 30px;
    color: #ea4335;
}
